# DB setup
DATABASE_URL=postgresql://neondb_owner:npg_U9CmPoRTBnL3@ep-sparkling-dust-aoh8g1za.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Gemini API key
GEMINI_API_KEY=

# Groq API key
GROQ_API_KEY=
